<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <style>
      .success {
        color: blue;
      }
      .error {
        color: brown;
      }
    </style>
  </head>
  <body>
    <form action="" method="POST" novalidate>
      {% csrf_token %}
      <br />
      {% if form.non_field_errors %}
      <br />
      {% for error in form.non_field_errors %} <br />
      <p class="error">{{error}}</p>
      <br />{% endfor %}
      <br />
      {% endif %}

      <br />
      {{form.as_p}}
      <input type="submit" value="submit" />
      <a href="{% url 'signup' %}">signup</a>
    </form>
  </body>
</html>
