{% extends 'core/base.html' %}
<br />
{% block page_title %} skill {% endblock page_title %}
<br />
{% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 ml-4 border-bottom">SKILL</h1>
  <div class="row text-center text-white mb-5">
    {% include 'edu/items.html' %} <br />
    {% include 'edu/items.html' %} <br />
    {% include 'edu/items.html' %} <br />
    {% include 'edu/items.html' %} <br />
    {% include 'edu/items.html' %} <br />
    {% include 'edu/items.html' %} <br />
  </div>
</div>
{% endblock content %}
