<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>enroll</title>
    <style>
      th,
      td {
        border: 1px black solid;
      }
    </style>
  </head>
  <body>
    <h1>Students Page</h1>
    {% if stu %}
    <h1>Show Data</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Student Id</th>
        <th>Student Name</th>
        <th>Student Email</th>
        <th>Student Password</th>
      </tr>

      {% for st in stu %}
      <tr>
        <td>{{st.id}}</td>
        <td>{{st.stuid}}</td>
        <td>{{st.stuname}}</td>
        <td>{{st.stuemail}}</td>
        <td>{{st.stupass}}</td>
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <h1>No data</h1>
    {% endif %}
  </body>
</html>
