<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hi i am from base file.</h1>
    <img src="{% static 'images/background2.jpg' %}" alt="background2" />
    <img src="{% get_static_prefix %}images/background2.jpg" alt="" />
    <br />
    <form action="">
      <input
        type="button"
        value="submit"
        name="Click me"
        id=""
        onclick="disp()"
      />
    </form>

    <script src="{% static 'js/alt.js' %}"></script>
  </body>
</html>
