<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'course/css/base.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hay i am from base</h1>
    <img src="{% static 'course/images/background1.jpg' %}" alt="background1" />
    <img
      src="{% get_static_prefix %}course/images/background1.jpg"
      alt="background1"
    />
    <hr />
    <form action="">
      <input type="text" value="submit" onclick="disp()" />
    </form>
    <script src="{% static 'course/js/base.js' %}"></script>
  </body>
</html>
