<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>change password view</h1>
    <form action="" method="POST" novalidate>
      {% csrf_token %}
      <br />
      {% if form.non_field_errors %}
      <br />
      {% for error in form.non_field_errors %} <br />
      <p class="error">{{error}}</p>
      <br />{% endfor %}
      <br />
      {% endif %} {% for fm in form %}
      <br />
      {{fm.label_tag}}
      <br />
      {{fm}}
      <br />
      {{fm.errors|striptags}}
      <br />
      {% endfor %}
      <input type="submit" value="submit" />
    </form>

    {% if messages %}
    <br />
    {% for message in messages %}
    <br />
    <small {% if message.tags %} class="{{message.tags}}" {% endif %}>
      <br />
      {{message}}
    </small>
    <br />
    {% endfor %}
    <br />
    {% endif %}
  </body>
</html>
