{% extends 'core/base.html' %}
<br />
{% load static %}

<br />
{% block page_title %} home {% endblock page_title %}
<br />
{% block content %}
<div class="mt-5 mb-5 text-center">
  <img
    src="{% static 'core/images/fig4.png' %}"
    alt="profile picture"
    class="img-thumbnail"
    width="250px"
    height="250px"
  />
  <div class="text-white">
    <div>
      <h1 class="st-font">Hello, world!</h1>
      <p class="st-font">
        This is a simple hero unit, a simple jumbotron-style component for
        calling extra attention to featured content or information.
      </p>
      <hr class="text-justify" />
      <p>
        It uses utility classes for typography and spacing to space content out
        within the larger container.Lorem ipsum is placeholder text commonly
        used in the graphic, print, and publishing industries for previewing
        layouts and visual mockups.Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum. It uses utility classes
        for typography and spacing to space content out within the larger
        container.Lorem ipsum is placeholder text commonly used in the graphic,
        print, and publishing industries for previewing layouts and visual
        mockups.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>

  <button type="button" class="mr-5 btn btn-outline-warning">Hire me</button>
  <button type="button" class="ml-5 btn btn-outline-info">Contect</button>
</div>
{% endblock content %}
