<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <style>
      .alert-success {
        color: blue;
      }

      .alert-info {
        color: coral;
      }
      .alert-warning {
        color: darkgoldenrod;
      }
      .alert-danger {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>User Registration Form</h1>
    <form action="" method="POST">
      {% csrf_token %} {{form.as_p}}
      <input type="submit" value="submit" />
    </form>

    {% if messages %}
    <br />
    {% for message in messages %}

    <span {% if message.tags %} class="alert-{{message.tags}}" {% endif %}
      >{{message}}</span
    >
    <br />
    {% endfor %}
    <br />
    {% endif %}
  </body>
</html>
